@inherits LayoutComponentBase

<RadzenComponents />

<RadzenLayout>
    <RadzenHeader>
        <NavMenu />
    </RadzenHeader>
    <RadzenBody>
        <div class="rz-p-6">
            @Body
        </div>
    </RadzenBody>
</RadzenLayout>