<RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="4px" class="rz-p-2">
    <RadzenButton Text="Home" ButtonStyle="ButtonStyle.Secondary" Variant="Variant.Text" NavigateUrl="/" />
    <a href="/admin" data-enhance-nav="false" style="text-decoration:none">
        <RadzenButton Text="Admin" ButtonStyle="ButtonStyle.Secondary" Variant="Variant.Text" />
    </a>
</RadzenStack>